.btn {
    display: inline-block;
    padding: 15px 40px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: .5px;
    border-radius: 40px;
    background: var(--primary);
    color: #FFF;
    box-shadow: var(--glow);
    transition: ease-in .2s;
}

.btn:hover {
    transform: translateY(-7px);
}

input {
    padding: 16px;
    border: 1px solid var(--light);
    border-radius: 4px;
}

input:focus {
    outline-color: var(--primary);
    background-color: transparent;
}